 <div class="main-container">
   <div class="header-container">
     <h2>RESULTS</h2>
   </div>

   <div class="letters-container">
    <% @output[:letters].each do |letter| %>
      <ul class="list">
        <li id="letter">
          <%= letter %>
        </li>
      </ul>
    <% end %>
   </div>

   <div class="results-results">
     <% if  @output[:data]['found'] && !@output[:validity] %>
      <p id="results">Sorry. '<em><%= @output[:answer] %></em>' does not match the given letters.
        <br>
        YOUR SCORE IS: <%= 0 %></p>
    <% elsif @output[:data]['found'] && @output[:validity] %>
      <p id="results">Well Done!
        <br>
        YOUR SCORE IS: <%= @output[:score] %></p>
    <% else %>
      <p id="results">Sorry.  '<em><%= @output[:answer] %></em>' is not an English word.
        <br>
        YOUR SCORE IS: <%= 0 %></p>
    <% end %>
  </div>

  <div class="results-redirect">
    <%= link_to 'TRY A NEW SET OF LETTERS', '/new' %>
  </div>
 </div>
